In [4]:
import pandas as pd

path = "./age_employed.csv"
df = pd.read_csv(path)

In [6]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>mo_age</th>\n      <th>mo_employed</th>\n      <th>ks_age</th>\n      <th>ks_employed</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>16</td>\n      <td>9761</td>\n      <td>15</td>\n      <td>8663</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>17</td>\n      <td>17242</td>\n      <td>16</td>\n      <td>7179</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>18</td>\n      <td>39670</td>\n      <td>17</td>\n      <td>10054</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>19</td>\n      <td>49920</td>\n      <td>18</td>\n      <td>11214</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>20</td>\n      <td>56718</td>\n      <td>19</td>\n      <td>10464</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>21</td>\n      <td>75320</td>\n      <td>20</td>\n      <td>21341</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>22</td>\n      <td>49051</td>\n      <td>21</td>\n      <td>25873</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>23</td>\n      <td>89216</td>\n      <td>22</td>\n      <td>48548</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>24</td>\n      <td>65369</td>\n      <td>23</td>\n      <td>30364</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>25</td>\n      <td>37894</td>\n      <td>24</td>\n      <td>24283</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>26</td>\n      <td>54593</td>\n      <td>25</td>\n      <td>36953</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>27</td>\n      <td>76934</td>\n      <td>26</td>\n      <td>47432</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>28</td>\n      <td>65713</td>\n      <td>27</td>\n      <td>45504</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>29</td>\n      <td>79948</td>\n      <td>28</td>\n      <td>45045</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>30</td>\n      <td>67627</td>\n      <td>29</td>\n      <td>38928</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>31</td>\n      <td>69448</td>\n      <td>30</td>\n      <td>30627</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>32</td>\n      <td>48214</td>\n      <td>31</td>\n      <td>36930</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>33</td>\n      <td>73564</td>\n      <td>32</td>\n      <td>28671</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>34</td>\n      <td>70164</td>\n      <td>33</td>\n      <td>32612</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>35</td>\n      <td>67131</td>\n      <td>34</td>\n      <td>30569</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>36</td>\n      <td>41924</td>\n      <td>35</td>\n      <td>25875</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>37</td>\n      <td>65389</td>\n      <td>36</td>\n      <td>34397</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>38</td>\n      <td>65025</td>\n      <td>37</td>\n      <td>32383</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>39</td>\n      <td>75389</td>\n      <td>38</td>\n      <td>23571</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>40</td>\n      <td>88592</td>\n      <td>39</td>\n      <td>24699</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>41</td>\n      <td>58908</td>\n      <td>40</td>\n      <td>27008</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>42</td>\n      <td>44432</td>\n      <td>41</td>\n      <td>26287</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>43</td>\n      <td>58486</td>\n      <td>42</td>\n      <td>28778</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>44</td>\n      <td>70535</td>\n      <td>43</td>\n      <td>28169</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>45</td>\n      <td>48732</td>\n      <td>44</td>\n      <td>22385</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>46</td>\n      <td>70430</td>\n      <td>45</td>\n      <td>21073</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>47</td>\n      <td>66305</td>\n      <td>46</td>\n      <td>23505</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>48</td>\n      <td>52927</td>\n      <td>47</td>\n      <td>27625</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>49</td>\n      <td>61080</td>\n      <td>48</td>\n      <td>35032</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>50</td>\n      <td>69158</td>\n      <td>49</td>\n      <td>24667</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>51</td>\n      <td>57959</td>\n      <td>50</td>\n      <td>37852</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>52</td>\n      <td>39286</td>\n      <td>51</td>\n      <td>24740</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>53</td>\n      <td>49260</td>\n      <td>52</td>\n      <td>23319</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>54</td>\n      <td>32041</td>\n      <td>53</td>\n      <td>20396</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>55</td>\n      <td>48912</td>\n      <td>54</td>\n      <td>28700</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>56</td>\n      <td>57602</td>\n      <td>55</td>\n      <td>25885</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>57</td>\n      <td>51945</td>\n      <td>56</td>\n      <td>30631</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>58</td>\n      <td>93725</td>\n      <td>57</td>\n      <td>32757</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>59</td>\n      <td>95864</td>\n      <td>58</td>\n      <td>31111</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>60</td>\n      <td>40466</td>\n      <td>59</td>\n      <td>11317</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>61</td>\n      <td>48301</td>\n      <td>60</td>\n      <td>25539</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>62</td>\n      <td>66354</td>\n      <td>61</td>\n      <td>24483</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>63</td>\n      <td>45537</td>\n      <td>62</td>\n      <td>21283</td>\n    </tr>\n    <tr>\n      <th>48</th>\n      <td>64</td>\n      <td>20548</td>\n      <td>63</td>\n      <td>15652</td>\n    </tr>\n    <tr>\n      <th>49</th>\n      <td>65</td>\n      <td>41594</td>\n      <td>64</td>\n      <td>24261</td>\n    </tr>\n    <tr>\n      <th>50</th>\n      <td>66</td>\n      <td>24815</td>\n      <td>65</td>\n      <td>16566</td>\n    </tr>\n    <tr>\n      <th>51</th>\n      <td>67</td>\n      <td>22939</td>\n      <td>66</td>\n      <td>12406</td>\n    </tr>\n    <tr>\n      <th>52</th>\n      <td>68</td>\n      <td>22792</td>\n      <td>67</td>\n      <td>12300</td>\n    </tr>\n    <tr>\n      <th>53</th>\n      <td>69</td>\n      <td>20793</td>\n      <td>68</td>\n      <td>16943</td>\n    </tr>\n    <tr>\n      <th>54</th>\n      <td>70</td>\n      <td>4927</td>\n      <td>69</td>\n      <td>5442</td>\n    </tr>\n    <tr>\n      <th>55</th>\n      <td>71</td>\n      <td>16038</td>\n      <td>70</td>\n      <td>5172</td>\n    </tr>\n    <tr>\n      <th>56</th>\n      <td>72</td>\n      <td>15899</td>\n      <td>71</td>\n      <td>3591</td>\n    </tr>\n    <tr>\n      <th>57</th>\n      <td>73</td>\n      <td>13649</td>\n      <td>72</td>\n      <td>4975</td>\n    </tr>\n    <tr>\n      <th>58</th>\n      <td>74</td>\n      <td>2820</td>\n      <td>73</td>\n      <td>6180</td>\n    </tr>\n    <tr>\n      <th>59</th>\n      <td>75</td>\n      <td>5686</td>\n      <td>74</td>\n      <td>6675</td>\n    </tr>\n    <tr>\n      <th>60</th>\n      <td>76</td>\n      <td>5754</td>\n      <td>75</td>\n      <td>3373</td>\n    </tr>\n    <tr>\n      <th>61</th>\n      <td>77</td>\n      <td>2509</td>\n      <td>76</td>\n      <td>3227</td>\n    </tr>\n    <tr>\n      <th>62</th>\n      <td>78</td>\n      <td>11816</td>\n      <td>77</td>\n      <td>5718</td>\n    </tr>\n    <tr>\n      <th>63</th>\n      <td>79</td>\n      <td>2815</td>\n      <td>78</td>\n      <td>1821</td>\n    </tr>\n    <tr>\n      <th>64</th>\n      <td>80</td>\n      <td>6082</td>\n      <td>79</td>\n      <td>1557</td>\n    </tr>\n    <tr>\n      <th>65</th>\n      <td>85</td>\n      <td>2826</td>\n      <td>80</td>\n      <td>5485</td>\n    </tr>\n  </tbody>\n</table>'

In [7]:
path = "./age_unemployed.csv"
df = pd.read_csv(path)

df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>mo_age</th>\n      <th>mo_unemployed</th>\n      <th>ks_age</th>\n      <th>ks_unemployed</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>15</td>\n      <td>0.0</td>\n      <td>NaN</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>16</td>\n      <td>3492.0</td>\n      <td>16.0</td>\n      <td>3651.0</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>17</td>\n      <td>NaN</td>\n      <td>17.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>18</td>\n      <td>10612.0</td>\n      <td>18.0</td>\n      <td>7008.0</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>19</td>\n      <td>NaN</td>\n      <td>19.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>20</td>\n      <td>4201.0</td>\n      <td>20.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>21</td>\n      <td>4385.0</td>\n      <td>21.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>22</td>\n      <td>NaN</td>\n      <td>22.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>23</td>\n      <td>NaN</td>\n      <td>23.0</td>\n      <td>5550.0</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>24</td>\n      <td>8854.0</td>\n      <td>24.0</td>\n      <td>2030.0</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>25</td>\n      <td>NaN</td>\n      <td>25.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>26</td>\n      <td>NaN</td>\n      <td>26.0</td>\n      <td>1820.0</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>27</td>\n      <td>3961.0</td>\n      <td>27.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>28</td>\n      <td>NaN</td>\n      <td>28.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>29</td>\n      <td>3418.0</td>\n      <td>29.0</td>\n      <td>4670.0</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>30</td>\n      <td>3536.0</td>\n      <td>30.0</td>\n      <td>3426.0</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>31</td>\n      <td>3058.0</td>\n      <td>31.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>32</td>\n      <td>2835.0</td>\n      <td>32.0</td>\n      <td>2121.0</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>33</td>\n      <td>NaN</td>\n      <td>33.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>34</td>\n      <td>NaN</td>\n      <td>34.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>35</td>\n      <td>NaN</td>\n      <td>35.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>36</td>\n      <td>NaN</td>\n      <td>36.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>37</td>\n      <td>NaN</td>\n      <td>37.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>38</td>\n      <td>NaN</td>\n      <td>38.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>39</td>\n      <td>NaN</td>\n      <td>39.0</td>\n      <td>1631.0</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>40</td>\n      <td>NaN</td>\n      <td>40.0</td>\n      <td>4042.0</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>41</td>\n      <td>2913.0</td>\n      <td>41.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>42</td>\n      <td>NaN</td>\n      <td>42.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>43</td>\n      <td>NaN</td>\n      <td>43.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>44</td>\n      <td>NaN</td>\n      <td>44.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>45</td>\n      <td>NaN</td>\n      <td>45.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>46</td>\n      <td>NaN</td>\n      <td>46.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>47</td>\n      <td>3012.0</td>\n      <td>47.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>48</td>\n      <td>NaN</td>\n      <td>48.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>49</td>\n      <td>2864.0</td>\n      <td>49.0</td>\n      <td>1580.0</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>50</td>\n      <td>NaN</td>\n      <td>50.0</td>\n      <td>1573.0</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>51</td>\n      <td>5971.0</td>\n      <td>51.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>52</td>\n      <td>2897.0</td>\n      <td>52.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>53</td>\n      <td>NaN</td>\n      <td>53.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>54</td>\n      <td>3063.0</td>\n      <td>54.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>55</td>\n      <td>NaN</td>\n      <td>55.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>56</td>\n      <td>5531.0</td>\n      <td>56.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>57</td>\n      <td>3457.0</td>\n      <td>57.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>58</td>\n      <td>NaN</td>\n      <td>58.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>59</td>\n      <td>3780.0</td>\n      <td>59.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>60</td>\n      <td>NaN</td>\n      <td>60.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>61</td>\n      <td>5922.0</td>\n      <td>61.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>62</td>\n      <td>NaN</td>\n      <td>62.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>48</th>\n      <td>63</td>\n      <td>2857.0</td>\n      <td>63.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>49</th>\n      <td>64</td>\n      <td>NaN</td>\n      <td>64.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>50</th>\n      <td>65</td>\n      <td>NaN</td>\n      <td>65.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>51</th>\n      <td>66</td>\n      <td>NaN</td>\n      <td>66.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>52</th>\n      <td>67</td>\n      <td>NaN</td>\n      <td>67.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>53</th>\n      <td>68</td>\n      <td>NaN</td>\n      <td>68.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>54</th>\n      <td>69</td>\n      <td>2389.0</td>\n      <td>69.0</td>\n      <td>1878.0</td>\n    </tr>\n    <tr>\n      <th>55</th>\n      <td>70</td>\n      <td>NaN</td>\n      <td>70.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>56</th>\n      <td>71</td>\n      <td>NaN</td>\n      <td>71.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>57</th>\n      <td>72</td>\n      <td>NaN</td>\n      <td>72.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>58</th>\n      <td>73</td>\n      <td>NaN</td>\n      <td>73.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>59</th>\n      <td>74</td>\n      <td>NaN</td>\n      <td>74.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>60</th>\n      <td>75</td>\n      <td>NaN</td>\n      <td>75.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>61</th>\n      <td>76</td>\n      <td>NaN</td>\n      <td>76.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>62</th>\n      <td>77</td>\n      <td>NaN</td>\n      <td>77.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>63</th>\n      <td>78</td>\n      <td>NaN</td>\n      <td>78.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>64</th>\n      <td>79</td>\n      <td>NaN</td>\n      <td>79.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>65</th>\n      <td>80</td>\n      <td>2719.0</td>\n      <td>80.0</td>\n      <td>NaN</td>\n    </tr>\n  </tbody>\n</table>'

In [8]:
path = "./education_employed.csv"
df = pd.read_csv(path)

df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>snum</th>\n      <th>state_abbr</th>\n      <th>bachelor_employed</th>\n      <th>master_employed</th>\n      <th>doctor_employed</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>AL</td>\n      <td>444832</td>\n      <td>247612</td>\n      <td>40823</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>10</td>\n      <td>DE</td>\n      <td>107975</td>\n      <td>43587</td>\n      <td>18565</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>11</td>\n      <td>DC</td>\n      <td>130167</td>\n      <td>100907</td>\n      <td>21867</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>12</td>\n      <td>FL</td>\n      <td>2624229</td>\n      <td>987350</td>\n      <td>190551</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>13</td>\n      <td>GA</td>\n      <td>1129454</td>\n      <td>515436</td>\n      <td>90617</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>15</td>\n      <td>HI</td>\n      <td>191389</td>\n      <td>46028</td>\n      <td>15460</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>16</td>\n      <td>ID</td>\n      <td>185432</td>\n      <td>61124</td>\n      <td>14891</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>17</td>\n      <td>IL</td>\n      <td>1616517</td>\n      <td>847419</td>\n      <td>87343</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>18</td>\n      <td>IN</td>\n      <td>688416</td>\n      <td>237590</td>\n      <td>54114</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>19</td>\n      <td>IA</td>\n      <td>375085</td>\n      <td>149594</td>\n      <td>33868</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>2</td>\n      <td>AK</td>\n      <td>65366</td>\n      <td>27523</td>\n      <td>6845</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>20</td>\n      <td>KS</td>\n      <td>314211</td>\n      <td>154900</td>\n      <td>41690</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>21</td>\n      <td>KY</td>\n      <td>432978</td>\n      <td>207437</td>\n      <td>35946</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>22</td>\n      <td>LA</td>\n      <td>373637</td>\n      <td>125523</td>\n      <td>37530</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>23</td>\n      <td>ME</td>\n      <td>174224</td>\n      <td>53138</td>\n      <td>9751</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>24</td>\n      <td>MD</td>\n      <td>692787</td>\n      <td>461113</td>\n      <td>121006</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>25</td>\n      <td>MA</td>\n      <td>1029871</td>\n      <td>610531</td>\n      <td>180443</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>26</td>\n      <td>MI</td>\n      <td>1079513</td>\n      <td>515409</td>\n      <td>99004</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>27</td>\n      <td>MN</td>\n      <td>812365</td>\n      <td>310140</td>\n      <td>64522</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>28</td>\n      <td>MS</td>\n      <td>187347</td>\n      <td>93945</td>\n      <td>8242</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>29</td>\n      <td>MO</td>\n      <td>672335</td>\n      <td>322459</td>\n      <td>57900</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>30</td>\n      <td>MT</td>\n      <td>125500</td>\n      <td>42191</td>\n      <td>6526</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>31</td>\n      <td>NE</td>\n      <td>273800</td>\n      <td>80125</td>\n      <td>22278</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>32</td>\n      <td>NV</td>\n      <td>264397</td>\n      <td>91629</td>\n      <td>18877</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>33</td>\n      <td>NH</td>\n      <td>196802</td>\n      <td>94769</td>\n      <td>18865</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>34</td>\n      <td>NJ</td>\n      <td>1343709</td>\n      <td>619275</td>\n      <td>119593</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>35</td>\n      <td>NM</td>\n      <td>163124</td>\n      <td>92932</td>\n      <td>19910</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>36</td>\n      <td>NY</td>\n      <td>2450557</td>\n      <td>1172986</td>\n      <td>276912</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>37</td>\n      <td>NC</td>\n      <td>1250203</td>\n      <td>465770</td>\n      <td>106090</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>38</td>\n      <td>ND</td>\n      <td>98969</td>\n      <td>27995</td>\n      <td>5128</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>39</td>\n      <td>OH</td>\n      <td>1212285</td>\n      <td>550597</td>\n      <td>118070</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>4</td>\n      <td>AZ</td>\n      <td>833144</td>\n      <td>264565</td>\n      <td>57653</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>40</td>\n      <td>OK</td>\n      <td>366643</td>\n      <td>116959</td>\n      <td>42576</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>41</td>\n      <td>OR</td>\n      <td>504989</td>\n      <td>179824</td>\n      <td>49990</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>42</td>\n      <td>PA</td>\n      <td>1559098</td>\n      <td>646211</td>\n      <td>158240</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>44</td>\n      <td>RI</td>\n      <td>147574</td>\n      <td>78743</td>\n      <td>10419</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>45</td>\n      <td>SC</td>\n      <td>620700</td>\n      <td>230859</td>\n      <td>65319</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>46</td>\n      <td>SD</td>\n      <td>124729</td>\n      <td>29825</td>\n      <td>8754</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>47</td>\n      <td>TN</td>\n      <td>759679</td>\n      <td>292969</td>\n      <td>81331</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>48</td>\n      <td>TX</td>\n      <td>3163910</td>\n      <td>1372665</td>\n      <td>271932</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>49</td>\n      <td>UT</td>\n      <td>371280</td>\n      <td>148899</td>\n      <td>26013</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>5</td>\n      <td>AR</td>\n      <td>248766</td>\n      <td>104749</td>\n      <td>25561</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>50</td>\n      <td>VT</td>\n      <td>83624</td>\n      <td>38440</td>\n      <td>7373</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>51</td>\n      <td>VA</td>\n      <td>1213231</td>\n      <td>629178</td>\n      <td>102468</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>53</td>\n      <td>WA</td>\n      <td>932707</td>\n      <td>390941</td>\n      <td>78520</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>54</td>\n      <td>WV</td>\n      <td>140167</td>\n      <td>50258</td>\n      <td>12501</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>55</td>\n      <td>WI</td>\n      <td>657722</td>\n      <td>212168</td>\n      <td>69222</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>56</td>\n      <td>WY</td>\n      <td>47959</td>\n      <td>24089</td>\n      <td>6610</td>\n    </tr>\n    <tr>\n      <th>48</th>\n      <td>6</td>\n      <td>CA</td>\n      <td>5011937</td>\n      <td>1990387</td>\n      <td>487462</td>\n    </tr>\n    <tr>\n      <th>49</th>\n      <td>8</td>\n      <td>CO</td>\n      <td>938187</td>\n      <td>308497</td>\n      <td>94057</td>\n    </tr>\n    <tr>\n      <th>50</th>\n      <td>9</td>\n      <td>CT</td>\n      <td>482286</td>\n      <td>262677</td>\n      <td>60707</td>\n    </tr>\n  </tbody>\n</table>'

In [9]:
path = "./education_unemployed.csv"
df = pd.read_csv(path)

df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>snum</th>\n      <th>state_abbr</th>\n      <th>bachelor_unemployed</th>\n      <th>master_unemployed</th>\n      <th>doctor_unemployed</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>AL</td>\n      <td>4251</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>10</td>\n      <td>DE</td>\n      <td>950</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>11</td>\n      <td>DC</td>\n      <td>2413</td>\n      <td>2239</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>12</td>\n      <td>FL</td>\n      <td>53546</td>\n      <td>14206</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>13</td>\n      <td>GA</td>\n      <td>17780</td>\n      <td>14455</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>15</td>\n      <td>HI</td>\n      <td>5894</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>16</td>\n      <td>ID</td>\n      <td>4936</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>17</td>\n      <td>IL</td>\n      <td>35786</td>\n      <td>25738</td>\n      <td>7183</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>18</td>\n      <td>IN</td>\n      <td>11049</td>\n      <td>6779</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>19</td>\n      <td>IA</td>\n      <td>10672</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>2</td>\n      <td>AK</td>\n      <td>1184</td>\n      <td>446</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>20</td>\n      <td>KS</td>\n      <td>3862</td>\n      <td>1887</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>21</td>\n      <td>KY</td>\n      <td>3209</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>22</td>\n      <td>LA</td>\n      <td>6118</td>\n      <td>5202</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>23</td>\n      <td>ME</td>\n      <td>1988</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>24</td>\n      <td>MD</td>\n      <td>19573</td>\n      <td>7644</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>25</td>\n      <td>MA</td>\n      <td>25233</td>\n      <td>9720</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>26</td>\n      <td>MI</td>\n      <td>10516</td>\n      <td>3547</td>\n      <td>3491</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>27</td>\n      <td>MN</td>\n      <td>19150</td>\n      <td>3010</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>28</td>\n      <td>MS</td>\n      <td>3456</td>\n      <td>2808</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>29</td>\n      <td>MO</td>\n      <td>18799</td>\n      <td>8732</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>30</td>\n      <td>MT</td>\n      <td>6040</td>\n      <td>4812</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>31</td>\n      <td>NE</td>\n      <td>4602</td>\n      <td>2418</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>32</td>\n      <td>NV</td>\n      <td>3550</td>\n      <td>9243</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>33</td>\n      <td>NH</td>\n      <td>7642</td>\n      <td>638</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>34</td>\n      <td>NJ</td>\n      <td>38421</td>\n      <td>20400</td>\n      <td>4488</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>35</td>\n      <td>NM</td>\n      <td>10051</td>\n      <td>750</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>36</td>\n      <td>NY</td>\n      <td>72303</td>\n      <td>31990</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>37</td>\n      <td>NC</td>\n      <td>31297</td>\n      <td>3335</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>38</td>\n      <td>ND</td>\n      <td>511</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>39</td>\n      <td>OH</td>\n      <td>18063</td>\n      <td>7411</td>\n      <td>3054</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>4</td>\n      <td>AZ</td>\n      <td>32600</td>\n      <td>3070</td>\n      <td>3792</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>40</td>\n      <td>OK</td>\n      <td>5389</td>\n      <td>1841</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>41</td>\n      <td>OR</td>\n      <td>2274</td>\n      <td>1775</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>42</td>\n      <td>PA</td>\n      <td>64252</td>\n      <td>22958</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>44</td>\n      <td>RI</td>\n      <td>4028</td>\n      <td>0</td>\n      <td>751</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>45</td>\n      <td>SC</td>\n      <td>9576</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>46</td>\n      <td>SD</td>\n      <td>1211</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>47</td>\n      <td>TN</td>\n      <td>9488</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>48</td>\n      <td>TX</td>\n      <td>63880</td>\n      <td>23438</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>49</td>\n      <td>UT</td>\n      <td>6000</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>5</td>\n      <td>AR</td>\n      <td>5366</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>50</td>\n      <td>VT</td>\n      <td>391</td>\n      <td>1597</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>51</td>\n      <td>VA</td>\n      <td>24552</td>\n      <td>11683</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>53</td>\n      <td>WA</td>\n      <td>2773</td>\n      <td>16817</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>54</td>\n      <td>WV</td>\n      <td>2627</td>\n      <td>1244</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>55</td>\n      <td>WI</td>\n      <td>12214</td>\n      <td>6901</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>56</td>\n      <td>WY</td>\n      <td>1606</td>\n      <td>452</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>48</th>\n      <td>6</td>\n      <td>CA</td>\n      <td>136265</td>\n      <td>64662</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>49</th>\n      <td>8</td>\n      <td>CO</td>\n      <td>30635</td>\n      <td>8806</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>50</th>\n      <td>9</td>\n      <td>CT</td>\n      <td>15188</td>\n      <td>9152</td>\n      <td>0</td>\n    </tr>\n  </tbody>\n</table>'